{% extends 'base.html' %}
{% block title %} All Books {% endblock %}
{% block content %}

<div class="card shadow-sm p-3 mb-5 bg-white rounded" style="margin: 2rem;">
    <div class="card-body">
        <h1 style="text-align: center;" style="margin-top: 20px;"><a href="{% url 'category' %}">Want to sort by Category?</a></h1>
    </div>
</div>

    <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="margin: 2rem;">
        <div class="card-body">
            <h1 style="text-align: center;" style="margin-top: 20px;">All Books</h1>
            <br>
            {% for book in allbooks %}


            <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="width: 20%; margin-right: 2rem; margin-left: 2rem; display: inline-block">

                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ book.author }}</h6>
                    <a href="#" class="card-link"></a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Year Published: {{ book.release_year }}</li>
                        <li class="list-group-item">Price: €{{ book.price }}</li>
                    </ul>
                    <a href="{% url 'singlebook' book.id %}" class="btn btn-primary" style="margin-top: 10px;">More Info on {{ book.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}
