{% extends 'base.html' %} {% block title %} Home {% endblock %} {% load static %}
<link rel="stylesheet" href="{% static '../static/index.css' %}"> {% block content %} <style>
    .card-img-top {
        height: 200px;

        width: 100%;
        object-fit: cover;

    }
</style>

<body>
    <div class="container">
        <div class="card shadow-sm p-3 mb-5 bg-white rounded" style="margin: 2rem;">
            <img src="../static/food_banner.png" class="card-img-top" alt="foods">
            <h1 style="text-align: center;" style="margin-top: 20px; margin-bottom: 20px;"><br>Welcome the Dublin Cook Book Emporium!!</h1>
            <br>
            <h4 style="text-align: center; margin-top: 20px; margin-left: 15%; margin-right: 15%;">We are home to Dublins largest range of books relating to drink, food and travel! Our goal is to connect our readers with other food fanatic. We want to inspire thought and discussion around Irish food, our food culture, our scenic landscapes, our green island and its rich fertile soil that has influenced our people and way of life, but most of all we want to share the pure joy of Irish food. </h4>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                       <a href="{% url 'allbooks' %}"> <img src="../static/books.png"  class="card-img-top" alt="books"></a>
                        <div class="card-body">
                            <h5 class="card-title">Our range of books</h5>
                            <p class="card-text">Have a look at all our available books</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                      <a href="{% url 'index' %}contact"> <img src="../static/book_n_quill.jpg" class="card-img-top" alt="book and quill"></a> 
                        <div class="card-body">
                            <h5 class="card-title">Contact Us</h5>
                            <p class="card-text">Have anything you want to let us know? Message us here!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                      <a href="/pages/1/"> <img src="../static/city.jpg" class="card-img-top" alt="city"></a>
                        <div class="card-body">
                            <h5 class="card-title">About us</h5>
                            <p class="card-text">Wonder how we started? Here's our story!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                      <a href="{% url 'quiz:quiz_index' %}"> <img src="../static/polls.jpg" class="card-img-top" alt="Poll Box"> </a>
                        <div class="card-body">
                            <h5 class="card-title">Polls</h5>
                            <p class="card-text">Take a look at some polls! </p>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
{% endblock %}
</body>